In [2]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
#Load/Import dataset into Jupyter Notebook
superstore = pd.read_excel("Sample - Superstore.xls")

#Show the first 5 rows of the imported data
superstore.head()

,Row ID,Order ID,Order Date,Year,Month,Quarter,Ship Date,Ship Mode,Customer ID,Customer Name,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,26,CA-2016-121755,2016-01-16,2016,1,1,2016-01-20,Second Class,EH-13945,Eric Hoffmann,...,90049,West,OFF-BI-10001634,Office Supplies,Binders,Wilson Jones Active Use Binders,11.648,2,0.2,4.2224
1,27,CA-2016-121755,2016-01-16,2016,1,1,2016-01-20,Second Class,EH-13945,Eric Hoffmann,...,90049,West,TEC-AC-10003027,Technology,Accessories,Imation 8GB Mini TravelDrive USB 2.0 Flash Drive,90.570,3,0.0,11.7741
2,93,CA-2015-149587,2015-01-31,2015,1,1,2015-02-05,Second Class,KB-16315,Karl Braun,...,55407,Central,OFF-PA-10003177,Office Supplies,Paper,Xerox 1999,12.960,2,0.0,6.2208
3,94,CA-2015-149587,2015-01-31,2015,1,1,2015-02-05,Second Class,KB-16315,Karl Braun,...,55407,Central,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",53.340,3,0.0,16.5354
4,95,CA-2015-149587,2015-01-31,2015,1,1,2015-02-05,Second Class,KB-16315,Karl Braun,...,55407,Central,OFF-BI-10002852,Office Supplies,Binders,Ibico Standard Transparent Covers,32.960,2,0.0,16.1504

In [4]:
#Display information about dataset and check for missing values
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Year           9994 non-null   int64
 4   Month          9994 non-null   int64
 5   Quarter        9994 non-null   int64
 6   Ship Date      9994 non-null   datetime64[ns]
 7   Ship Mode      9994 non-null   object
 8   Customer ID    9994 non-null   object
 9   Customer Name  9994 non-null   object
 10  Segment        9994 non-null   object
 11  Country        9994 non-null   object
 12  City           9994 non-null   object
 13  State          9994 non-null   object
 14  Postal Code    9994 non-null   int64
 15  Region         9994 non-null   object
 16  Product ID     9994 non-null   object
 17  Category       9994 non-null   object
 18  Sub-Category   9994 non-null   object
 19  Product Name   9994 non-null   object
 20  Sales          9994 non-null   float64
 21  Quantity       9994 non-null   int64
 22  Discount       9994 non-null   float64
 23  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(6), object(13)
memory usage: 1.8+ MB

In [5]:
#Display summary statistics for numeric columns
superstore.describe()

,Row ID,Order Date,Year,Month,Quarter,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994.000000,9994.000000,9994.000000,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355392,2015.722233,7.809686,2.882329,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014.000000,1.000000,1.000000,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015.000000,5.000000,2.000000,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016.000000,9.000000,3.000000,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017.000000,11.000000,4.000000,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2017.000000,12.000000,4.000000,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,1.123555,3.284654,1.058086,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [7]:
# group by category and calculate mean of values
grouped_data = superstore.groupby('State')['Profit'].mean()

grouped_data.head()

State
Alabama       94.865989
Arizona      -15.303235
Arkansas      66.811452
California    38.171608
Colorado     -35.867351
Name: Profit, dtype: float64

In [ ]:
grouped_data.describe()

In [ ]:
grouped_data.info()

In [ ]:
# create a sample dataframe
data = {'category': superstore['State'],
        'values': superstore['Sales']}
df = pd.DataFrame(data)

# group by category and calculate mean of values
grouped_df = df.groupby('category')['values'].mean().reset_index()

# create a pie chart
plt.figure(figsize=(18, 14))
plt.pie(grouped_df['values'], labels=grouped_df['category'], autopct='%1.1f%%')
plt.title('Mean Values by Category')
plt.show()

In [6]:
#Using Plotly to create an interactive pie chart
fig = px.pie(data, values='values', names='category')

# Add a title to the pie chart
fig.update_layout(title='Pie Chart for Sales By State')
fig.update_layout(width=1000, height=800)
# Show the pie chart
fig.show()

NameError: name 'data' is not defined

In [ ]:
# Create a count plot by category
fig = px.bar(data, x='category',
             y='values',
             title='Count Plot by Category')
fig.update_layout(width=1000, height=600)
fig.update_traces(marker_color='green')

# Show the plot
fig.show()

In [ ]:
# create a sample dataframe
data2 = {'category': superstore['Sub-Category'],
        'values': superstore['Sales']}
df2 = pd.DataFrame(data2)

# group by category and calculate mean of values
grouped_df2 = df2.groupby('category')['values'].mean().reset_index()

# create a pie chart
plt.figure(figsize=(18, 14))
plt.pie(grouped_df2['values'], labels=grouped_df2['category'], autopct='%1.1f%%')
plt.title('Mean Values by Category')
plt.show()

In [ ]:
# Create a count plot by category
fig = px.bar(data2, x='category', y='values', title='Count Plot by Category')
fig.update_layout(width=1000, height=600)

# Show the plot
fig.show()

In [ ]:
plt.figure(figsize=(12,30))
sns.barplot(x= 'Sales',
           y= 'State',
           hue= 'Category',
           data= superstore)
plt.title('Barplot showing Sales by state')
plt.xlabel('Sales')
plt.ylabel('State')
plt.show()